<%- include('./partials/header.ejs') %>


    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach((user) => { %>

              <tr id="<%= user._id %>">
                <td class="name">
                  <img src="<%= user.avatar ? `/uploads/avatar/${user.avatar}` : '/images/nophoto.png' %>" />
                  <span><%= user.name %></span>
                </td>
                <td><%= user.email %></td>
                <td class="manage">
                  <img src="./images/trash.png" onclick="deleteUser('<%= user._id %>')" alt="Delete" />
                </td>
              </tr>
            
            <% })%>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/add-user-modal') %>

    <script>
      // toasts
      const deleteToast = Toastify({
        text: 'User was deleted successfully!',
        duration: 3000
      });

      const deleteErrorToast = Toastify({
        text: 'Could not delete the user!!',
        duration: 3000
      });

      // delete user function
      const deleteUser = async (userId) => {
        let response = await fetch(`/users/${userId}`, {
          method: 'DELETE'
        });

        let result = response.json();

        if (result.erros) {
          // errors
          deleteErrorToast.showToast();
        } else {
          // success
          deleteToast.showToast()
          
          document.getElementById(userId).remove()
        }
      }
    </script>
    
  </body>
</html>
